$champagne: #fff4f277;
$natural-black: #1d202b;
$dark-champagne: #fff4f2;
$crimson: #d13621;
$red: #d13621;
$deep-indigo: #1b1e29fd;
$frost-blue: #f6fcff;
$slate-grey: #5c5c5c;
$dark-slate: #1b1e29cc;
$dark-navy: #1b1e29fd;
$pure-white: #fff;
$charcoal: #262626fd;
$winter-white: #f6fcff;
$smoky-gray: #333333fd;
$light-gray: #333333cc;
$silver: #a9aeb1;
$light-grey: #dfe1e2;
$card-border-color: #7979797d;
$smoky-white: #f7f7f7;
$white: #ffffff;
$modal-text-color: #1b1e29;
$grey: #333333;
$darker-navy: #000000cc;
$sky-mist: #d5e1f3;
$darker-navy: #000000cc;
$grey-border: #00000033;
$lighter-grey: #3333334c;
$midnight-blue: #1a4480;
$midnight-blue-hover: #112d56;
$primary-blue: #0b3d91;
$poweder-blue: #e5f0ff;
$champagne-pink: #ffe6e2;
$navy-smoke: #1b1e29fc;
$forest-green: #067919;
$light-slate-grey: #7d7d7d;
$pale-grey: #e2e2e2;
$burntOrange: #c05600;
$link-on-dark-background: #eff9ff;
$link-on-dark-background-visited: #c19bff;
$tab-hover-background: #f0f0f0;
$light-tab-border: #dfe1e2;
$harvest-gold: #c0a100;
$pale-yellow: #faf3d1;
$golden-rod: #ead14f;
$file-uploader-loading-background: #ebebeb;
$file-uploader-loading-color: #595b63;
$sidebar-left-border: #545454;
$secondary-white: #eff9ff;
$sidebar-background: #1b1e29;
$secondary-alert-border: #c4c4c47c;
$secondary-alert-border-dark: #c4c4c4;
$alert-error: #f4e3db;
$pearl-mist: #ecf3ec;
$steel-grey: #8c8c8c;
$saved-icon-color: #00a91c;
$grey-label: #525151;
$grey-disabled: #c9c9c9;
$natural-dark: #757575;
