.modalWrapper{
    margin-right: -35px !important;
    margin-left: -35px !important;
    .mainUl {
        li {
            font-size: 26px;
            font-weight: 700;
        }
    }
    .sub {
        li {
            font-size: 18px;
            font-weight: 400;
        }
    }
}