@use '@pets/styles' as *;

.form-control {
  @include form-control;
  &.flex {
    display: flex;
  }
  padding: 1rem 0;
  width: 21rem;
  margin-bottom: 0;

  .label-container {
    margin-bottom: 0.3rem;
  }
}

// .form-control.has-error {
//   padding-left: 1rem;
// }

.error {
  border: 0.1875rem solid $crimson;
}

.divider {
  position: absolute;
  width: 0.25rem;
  height: inherit;
  background-color: $crimson;
  height: 100%;
  left: 0;
  top: 0;
}

.required {
  display: inline-block;
  color: $crimson;
}

input {
  width: 100%;
}

.icon-input {
  display: flex;
  align-items: center;
  &:not(.error) {
    border: 1px solid;
  }
  width: fit-content;
  input {
    border: none;
    outline: none;
  }
}

.original-file-input-button {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.custom-input-btn {
  cursor: pointer;
  pointer-events: all;
  width: 100%;
  height: 100%;
  background: $pure-white;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='20' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: $deep-indigo;
    svg {
      color: $primary-blue;
      margin-right: 0.5rem;
    }
    a {
      color: $deep-indigo;
      text-decoration: underline;
    }
  }
}

.custom-input-btn.custom-input-btn-selected {
  cursor: initial;
  background-color: $poweder-blue;
  pointer-events: none;
}

.custom-input-btn.has-error {
  background-color: $dark-champagne;
}

.custom-input-btn.btn-hover {
  cursor: pointer;
}

.input-container {
  width: 22.813rem;
  height: 7.063rem;
  margin-top: 1rem;
  
}

.attached-file-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  justify-content: center;
  
  svg {
    color: $primary-blue;
    font-size: 1.5rem;
  }
}

.attached-file-info {
  display: flex;
  align-items: center;
  color: $primary-blue;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-direction: column;
  align-items: start;
  margin-left: 1.25rem;
  max-width: 87%;
  span {
    display: inline;
    max-width: 15.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.action-container {
  margin-top: 0.5rem;
  color: $primary-blue;
  a {
    cursor: pointer;
    pointer-events: all;
    text-decoration: underline;
  }
  .remove-btn {
    margin-left: 1.375rem;
    pointer-events: all;
    color: $crimson;
  }
}

.invisible-input {
  display: none;
}

.inside-error-container {
  display: flex;
  align-items: center;
  svg {
    color: $crimson;
    font-size: 2rem;
  }
  .error-info {
    color: $grey;
    font-weight: bold;
  }
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  padding: 0.0625rem;
  position: absolute;

  .loading-container {
    width: 100%;
    height: 100%;
    background: $file-uploader-loading-background;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .loading {
      width: 1.3rem;
      height: 1.3rem;
      border: 3.7px dotted $file-uploader-loading-color;
      border-radius: 100%;
      animation: spin 1.4s infinite linear;
    }
  
    .label {
      color: $file-uploader-loading-color;
      margin-left: 0.9375rem;
      font-weight: 700;
      font-size: 1.125rem;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
