@use '@pets/colors' as *;

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 23px);
  .outlet-container {
    padding-left: 6.25rem;
    flex: 1;
    min-height: 43.75rem;
    overflow-x: auto;
  }

  .outlet-push-right {
    padding-left: 17.1875rem;
    min-height: 43.75rem;
    flex: 1;
    overflow-x: auto;
  }
}
