@use '@pets/styles' as *;

.form-control {
  @include form-control;
  &.flex {
    display: flex;
  }
  padding: 1rem 0;
  width: 17.5rem;

  .label-container {
    margin-bottom: 0.3rem;
  }
}

.error {
  border: 0.1875rem solid $crimson;
}

.required {
  display: inline-block;
  color: $crimson;
  margin-left: 0.2rem;
}

.divider {
  position: absolute;
  width: 0.25rem;
  height: inherit;
  background-color: $crimson;
  height: 100%;
  left: -1rem;
  top: 0;
}
