@use '@pets/styles' as *;

.container {
    padding: 6rem 5rem;
}

[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
}


.buttonContainer {
    display: flex;
    gap: 1rem;
}


.card {
    @include card-with-box-shadow;
    width: auto;
    margin-top: 0;
}

.row {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.action-btns {
    & .next:disabled {
        @include button;
        width: auto;
        pointer-events: none;
        background-color: $silver;
    }

    & .cancel {
        @include button;
        color: $light-gray;
        margin-right: rem;
        background-color: $pure-white !important;
        border: 0.1rem solid $light-gray;
    }
}